* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f4f6f8;
    color: #222;
}

#root {
    padding: 30px;
    display: flex;
    justify-content: center;
}

button {
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    background: #007bff;
    color: white;
    font-size: 16px;

    cursor: pointer;
    transition: 0.2s ease;
}

button:hover {
    opacity: 0.8;
}